/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
}

body {
    font-family: Gellix, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header, .leftHeader, .leftHeader ul, .rightHeader{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
}
header{
    border-bottom: .02px solid #97c2a3;
}

header section{
    flex-basis: 50%;
}

.leftHeader li a, .leftHeader li, #loginLink, .underHeader li a, .underHeader li{
    text-decoration: none;
    list-style: none;
    color: #65816d;
}
.leftHeader ul{
    padding: 0, 0, 0, 20px;
}

.rightHeader{
    justify-content: flex-end;
}

header button{
    background-color: #22ad01;
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
}

.leftHeader li a:hover{
    color:#22ad01;
}
.underHeader{
    font-size: 16px;
}
.underHeader ul{
    display: flex;
    gap: 15px;
    padding: 0;
}

.underHeader li a:hover{
    color: #003c2f;
}

h1{
    color:#003c2f;
    font-size: 60px;
    text-align: center;
    margin: 0 25%;
}

.toggleContainer{
    text-align: center;
}

.toggleContainer input{
    -webkit-appearance: none;
    position: relative;
    width: 300px;
    height: 65px;
    border-radius: 30px;
    background-color:#f0f5f0 ;


}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/