/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
}

body {
    font-family: Gellix, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header, .leftHeader, .leftHeader ul, .rightHeader{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 10%;
}
#lineUnderHeader{
    height: .5px;
    width: 64%;
    background-color:  #97c2a3;
    margin: 10px 18%;
}

.productDropDown{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 20px 10px -15px rgb(0 0 0 / 10%);
    z-index: 1;
    left: 0;
    width: 100%;

    /* padding-left: 350px;
    padding-top: 20px; */
}

.productWrapper:hover .productDropDown{
    display: flex;
    background-color: white;
    height: 300px;
    /* width: 100%; */
    padding-left: 350px;
    padding-top: 20px;
    margin-top: 25px;
    /* gap: 15%; */
}

.innerWrapper, .innerWrapper ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: start;
    gap: 10px;
    flex-basis: 20%;
    
}
.innerWrapper > a{
    padding-bottom: 10px;
    padding-top: 28px;
}


header section{
    flex-basis: 50%;
}

.leftHeader li a, .leftHeader li, #loginLink, .underHeader li a, .underHeader li, .anchorColor{
    text-decoration: none;
    list-style: none;
    color: #65816d;
}
.boldGreen{
    color: #003c2f;
    font-weight: bold;
}

.leftHeader ul{
    padding-inline-start:0
}

.rightHeader{
    justify-content: flex-end;
}

header button{
    background-color: #22ad01;
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
}

.leftHeader li a:hover{
    color:#22ad01;
}
.underHeader{
    font-size: 16px;
    margin: 0 18%;
   
}
.underHeader ul{
    display: flex;
    gap: 15px;
    padding: 0;
}

.underHeader li a{
    color:rgba(101, 129, 109, .7);
}

.underHeader li a:hover{
    color: #003c2f;
}

h1{
    color:#003c2f;
    font-size: 60px;
    text-align: center;
    margin: 0 25%;
}

.toggleContainer{
    text-align: center;
}

.toggleContainer input{
    -webkit-appearance: none;
    position: relative;
    width: 300px;
    height: 65px;
    border-radius: 30px;
    background-color:#f0f5f0 ;
}

.belowMain{
    display: flex;
    font-size: 30px;
    justify-content: center;
    color: #003c2f;
    font-weight: 700;
    margin: 8% 10%;
}

.starter, .professional, .business{
    display: flex;
    flex-basis: 23%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    border-radius: 25px;
    margin: 0 20px;
    
    
}

.business p, .professional p, .starter p{
    margin-top: 0;
}
.business h4, .professional h4, .starter h4{
    margin-bottom: 10px;
}

.month{
    font-size: 15px;
    color: rgba(101, 129, 109, .7);
}

.forFreeButton{
    height: 50px;
    width: 200px;
    background-color: #22ad01;
    border-radius: 25px;
    border: 1px solid white;
    color: white;
}

.paraLine{
    padding: 15px;
    font-size: 12px;
    font-weight: 600;
    color: rgba(101, 129, 109, .7);    
}

.lineClass{
    height: 1px;
    width: 250px;
    background-color: rgba(145, 179, 155, 0.7);
}

.listOfItems{
    font-size: 15px;
    list-style: none;
    padding: none;
    font-weight: 500;
}
.listOfItems li{
    padding: 10px 0;
}

.listOfItems img{
    padding-right: 15px;
}


.belowMain ul{
    text-align: left;
    width: 100%;
}

.bottomForFree{
    margin: 25px 10px 40px 10px;
}
.professional{
    position: relative;
    background-color: white;
}


.orangeBack{
    background-color:#ee8146;
    height: 106%;
    width: 103%;
    position: absolute;
    z-index: -1;
    top: -40px;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    padding-top: 10px;
}

.nextLevel{
    font-size: 25px;
    color:#003c2f;
}

.nextLevelContainer{
    display: flex;
    margin: 0 15px;
    justify-content: center;
    gap: 25px;
    
}

.nextLevel h2{
    text-align: center;
    margin: 0 35%;
    margin-bottom: 50px;
    
}

.nextLevelContainer section{
    display: flex;
    flex-direction: column;
    flex-basis: 23%;
    border: 1px solid #d3dcd4;
    border-radius: 35px;
    padding: 20px;
    font-size: 20px;
    height: 350px;
    position: relative;
    padding-left: 40px;
}

.bottomRight{
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    padding-right: 10px;
    font-size: 30px;
    font-weight: 600;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/